@model LRDNUG.Web.Models.MeetingModel

@{
    ViewBag.Title = "Upcoming Meeting";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>@Model.Title</h1>
    <h2>@Model.Month Meeting</h2>
    
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span8">
        <h2>Description</h2>
        <p>@Html.Raw(Model.Description)</p>
    </div>
    <div class="span4">
        <h2>Time and Place</h2>
        <p>@Model.Date</p>
        <p>@Model.Time</p>
        <p>The Joint</p><p> 301 Main St.</p><p> North Little Rock, AR 72114‎</p>
        <p><a class="btn btn-primary" href="https://maps.google.com/maps?ie=UTF8&cid=3938605659390243919&q=The+Joint&iwloc=A&gl=US&hl=en">View Map &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="span8">
        <h2>About the Speaker</h2>
        <p>@Model.SpeakerName</p>
        <p>@Model.SpeakerBio</p>
    </div>

</div>
