@model LRDNUG.Web.Models.Meeting

@{
    ViewBag.Title = "Upcoming Meeting";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h3>Next Meeting: @Model.Date.ToString("MMMM dd, yyyy")</h3>
    <h1>@Model.PresentationTitle</h1>


</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span6">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <p><b>About the Topic:</b> @Html.Raw(Model.Description)</p>
        }
    </div>

    <div class="span4">
        <h3>Time and Place</h3>
        <p>@Model.Date.ToShortDateString() @@ @Model.StartTime<br />
            Central Arkansas Library: Main Library, East Room<br />
            100 South Rock Street<br />
            Little Rock, AR 72201
        </p>
        <p><a class="btn btn-primary" href="https://www.google.com/maps/dir//Central+Arkansas+Library/">View Map &raquo;</a></p>
    </div>

</div>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <div class="row">
        <div class="span6">
            <h3>About @Model.SpeakerName</h3>
            <p>@Model.SpeakerBio</p>
        </div>

    </div>
}

