@model IEnumerable<LRDNUG.Web.Models.Meeting>

@{
    ViewBag.Title = "Admin List of Meetings";
}

<h2>Admin List of Meetings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th></th>
        <th>When
        </th>
        <th>PresentationTitle
        </th>
        <th>SpeakerName
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                    </ul>
                </div>
            </td>
            <td>
                @item.MonthYear
            </td>

            <td>
                @item.PresentationTitle
            </td>
            <td>
                @item.SpeakerName
            </td>
        </tr>
    }

</table>


