@using BootstrapSupport
@model LRDNUG.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<div class="row">
    <div class="span6">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
    

       
            <fieldset>
                <legend>Local Account</legend>

                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)

                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" }) Remember Me
                </label>

                <br />
                <button type="submit" class="btn btn-primary">Log In</button>



            </fieldset>
        
        }
    </div>
    <div class="span6">
        <fieldset>
            <legend>Use another service to log in.</legend>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

        </fieldset>
    </div>

</div>

<div class="row">
    <div class="span6">
        @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-small btn-success" }) if you don't have an account.
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
