@model IEnumerable<LRDNUG.Web.Models.Meeting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            PresentationTitle
        </th>
        <th>
            SpeakerName
        </th>
        <th>
            SpeakerBio
        </th>
        <th>
            SpeakerTwitter
        </th>
        <th>
            Description
        </th>
        <th>
            Date
        </th>
        <th>
            StartTime
        </th>
        <th>
            MonthYear
        </th>
        <th>
            Location
        </th>
        <th>
            SurveyURL
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.PresentationTitle
        </td>
        <td>
			@item.SpeakerName
        </td>
        <td>
			@item.SpeakerBio
        </td>
        <td>
			@item.SpeakerTwitter
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@String.Format("{0:g}", item.Date)
        </td>
        <td>
			@item.StartTime
        </td>
        <td>
			@item.MonthYear
        </td>
        <td>
			@(item.Location == null ? "None" : item.Location.Name)
        </td>
        <td>
			@item.SurveyURL
        </td>
    </tr>
}

</table>


